<div  class="wrapper">
    <div  class="main">
        <div  class="section section-dark-blue">
            <div  class="container">
                <h3 >Agregar Producto</h3>
                <form  novalidate="" class="ng-untouched ng-pristine ng-valid">
                    <div  class="row">
                        <div  class="col-md-5 col-sm-5">
                            <h6 >Imagen del producto</h6>
                                <div class="fileinput fileinput-new text-center">
                                    <div class="thumbnail img-no-padding">
                                        <img  class="imgproduct" alt="..." src="../../assets/img/image_placeholder.jpg">
                                    </div>
                                    <div><!---->
                                        <button class="btn btn-neutral btn-file btn-round 
                                        ng-star-inserted">Seleccionar Imagen</button>
                                        <!----><!---->
                                    </div>
                                </div>
                            <h6>Etiquetas</h6>
                            </div><div  class="col-md-7 col-sm-7"><div  class="form-group"><h6 >Nombre <span  class="icon-danger">*</span></h6>
                                <input  class="form-control border-input" placeholder="ingresa el nombre del producto aquí..." type="text"></div><div  class="form-group"><h6 >Tagline <span  class="icon-danger">*</span></h6><input  class="form-control border-input" placeholder="..." type="text"></div><div  class="row price-row"><div  class="col-md-6"><h6 >Precio <span  class="icon-danger">*</span></h6><div  class="input-group border-input"><input  class="form-control border-input" placeholder="ingresa precio" type="text" value=""><div  class="input-group-append"><span  class="input-group-text"><i  class="fa fa-dollar"></i></span></div></div></div>
                                <div  class="col-md-6"><h6 >Descuento</h6><div  class="input-group border-input"><input  class="form-control border-input" placeholder="ingresa descuento" type="text" value=""><div  class="input-group-append"><span  class="input-group-text">%</span></div></div></div></div>
                                <div  class="form-group"><h6 >Descripcion</h6><textarea  class="form-control textarea-limited" maxlength="150" placeholder="Escriba aquí una descripción del producto. dispone de 150 caracteres" rows="13"></textarea><h5 ><small ><span  class="pull-right" id="textarea-limited-message">150 caracteres faltantes</span></small></h5></div></div></div>
                                
                                <div  class="row buttons-row">
                                    <div  class="col-md-4 col-sm-4"><button  class="btn btn-outline-danger btn-block btn-round">Cancelar</button></div>
                                <div  class="col-md-4 col-sm-4">
                                    <button  class="btn btn-outline-primary btn-block btn-round">Guardar y publicar</button></div>
                                </div></form></div></div></div></div>