<div class="section section-blog">
    <div class="container">
        <h3  class="section-title">Tu busqueda coincide con esto</h3>
        <div class="row">
            <div  class="col-md-4">
                    <div  class="card card-product">
                      <div  class="card-image">
                        <a  href="javascript:void(0)">
                          <img  alt="Rounded Image" class="img-rounded img-responsive" 
                          src="http://teotihuacan.nguideqr.mx/images/GRest/RMayahuel/GRMYH22.jpg">
                        </a>
                        <div  class="card-body">
                          <div  class="card-description">
                            <h5  class="card-title">Green Velvet Dress</h5>
                            <p  class="card-description">This is a limited edition dress 
                              for the fall collection. Comes in 3 colours.
                            </p>
                          </div>
                          <div  class="price">
                            <s >3.520 €</s>
                            <span  class="text-danger">2.900 €</span>
                          </div>
                          <div class="card-footer">
                                <div class="author">
                                    <a href="javascript:void(0)">
                                        <img alt="..." class="avatar img-raised" src="/img/faces/erik-lucatero-2.jpg">
                                        <span>Mike John</span>
                                    </a>
                                </div>
                                <div class="stats">
                                    <i aria-hidden="true" class="fa fa-clock-o"></i> 5 min read 
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div  class="col-md-4">
                        <div  class="card card-product">
                          <div  class="card-image">
                            <a  href="javascript:void(0)">
                              <img  alt="Rounded Image" class="img-rounded img-responsive" 
                              src="https://resizer.mundotkm.com/unsafe/fit-in/1280x720/smart/http://cfus01.mundotkm.com/2017/03/whopper.png">
                            </a>
                            <div  class="card-body">
                              <div  class="card-description">
                                <h5  class="card-title">Green Velvet Dress</h5>
                                <p  class="card-description">This is a limited edition dress 
                                  for the fall collection. Comes in 3 colours.
                                </p>
                              </div>
                              <div  class="price">
                                <s >3.520 €</s>
                                <span  class="text-danger">2.900 €</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div  class="col-md-4">
                            <div  class="card card-product">
                              <div  class="card-image">
                                <a  href="javascript:void(0)">
                                  <img  alt="Rounded Image" class="img-rounded img-responsive" 
                                  src="https://resizer.mundotkm.com/unsafe/fit-in/1280x720/smart/http://cfus01.mundotkm.com/2017/03/whopper.png">
                                </a>
                                <div  class="card-body">
                                  <div  class="card-description">
                                    <h5  class="card-title">Green Velvet Dress</h5>
                                    <p  class="card-description">This is a limited edition dress 
                                      for the fall collection. Comes in 3 colours.
                                    </p>
                                  </div>
                                  <div  class="price">
                                    <s >3.520 €</s>
                                    <span  class="text-danger">2.900 €</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
        </div>
    </div>
</div>
