<div class="main">
    <div class="section section-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">Registra tu empresa</h2>
                    <p>Únete a nosotros, registra tu empresa, aumenta tus ventas, aumenta tus 
                        clientes y haz que sea conocida por toda la ciudad</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <br>
                    <form class="contact ng-untouched ng-pristine ng-valid">
                        <div class="row">
                            <div class="col-md-6" style="padding-bottom: 15px;">
                                <input class="form-control" placeholder="Nombre" type="text">
                            </div>
                            <div class="col-md-6" style="padding-bottom: 15px;">
                                <input class="form-control" placeholder="NIT" type="number">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="padding-bottom: 15px;">
                                <input class="form-control" placeholder="Dirección" type="text">
                            </div>
                            <div class="col-md-6" style="padding-bottom: 15px;">
                                <input class="form-control" placeholder="Razón social" type="text">
                            </div>
                        </div>
                        <textarea class="form-control" placeholder="Descripción" rows="7"></textarea>
                        <h5>Indique en el mapa con el marcador la ubicación de su empresa</h5>
                        <div #gmap style="height:400px"></div>
                        <div class="row">
                            <div class="col-md-6 ml-auto mr-auto" style="padding: 15px;">
                                <button class="btn btn-primary btn-block btn-round">Guardar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>  