<div    class="wrapper">
    <div    class="page-header" style="background-image: url('http://www.shwener.com/assets/img/sections/bruno-abatti.jpg');">
        <div    class="filter"></div>
        <div    class="container">
            <div    class="row">
                <div  class="col-lg-4 col-sm-6 mr-auto ml-auto">
                    <div    class="card card-register">
                        <h3    class="card-title text-center">Regístrate</h3>
                        <div class="social">
                            <button class="btn btn-just-icon btn-facebook mr-1" href="javascript:void(0)">
                                <i class="fa fa-facebook"></i>
                            </button>
                            <button    class="btn btn-just-icon btn-google mr-1" href="javascript:void(0)">
                                <i    class="fa fa-google"></i>
                            </button>
                            <button    class="btn btn-just-icon btn-twitter mr-1" href="javascript:void(0)">
                                <i    class="fa fa-twitter"></i>
                            </button>
                        </div>
                        <div class="division">
                            <div class="line l"></div>
                            <span>O</span>
                            <div class="line r"></div>
                        </div>
                        <form    class="register-form ng-untouched ng-pristine ng-valid"  >
                            <input    class="form-control" placeholder="Correo" type="email" required>
                            <input    class="form-control" placeholder="Nombre" type="text">
                            <input    class="form-control" placeholder="Apellidos" type="text">
                            <input    class="form-control" placeholder="Contraseña" type="password">
                            <input    class="form-control" placeholder="Confirmar Contraseña" type="password">
                            <button    class="btn btn-block btn-round btn-registro">Registrase</button>
                        </form>
                        <div    class="login">
                            <p   >Ya tienes una cuenta? <a routerLink="/login">Iniciar sesión</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>